:root {
    --bg: black;
    --primary: #e6533c;
    --secondary: #ffffff;
    --light: #7a7b7b;
}


/*    / | \
    ///    \\\    
  ||           ||
  ||           ||
  ||   Mobile  ||
  ||           ||
  ||           ||
        |*/

@media screen and (max-width: 576px) {

    .header,
    .main {
        width: 100%;
        padding: 0px 24px;
    }

    .nav {
        margin-top: 70px;
    }

    .nav ul {
        display: none;
    }

    .hamburger {
        display: block;
        color: var(--secondary);
        font-size: 20px;
        font-weight: 900;
    }

    /* ========================= */
    /* ================ */
    /* banner */
    .banner {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .banner-content h1 {
        font-size: 3.5rem;
        line-height: normal;

    }

    .banner .banner-img {
        margin-top: 80px;
        text-align: left;
    }

    .banner-content p {
        width: 90%;
    }

    .btn-primary {
        padding: 19px 40px;
    }

    .banner-content .banner-btn .btn-2 {
        padding: 19px 20px;
    }

    .for-m {
        display: block;
    }

    .for-d {
        display: none;
    }

    .free-work {
        top: 20px;
        right: 20px;
    }

    .video-tuto {
        left: 0;
        bottom: 250px;
    }

    /* End banner  */

    /* ======================= */
    /* habits styles */
    .habits {
        margin-top: -68px !important;
        z-index: 11;
        position: relative;
        background: black;
    }

    .habits-cards-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .habits-content h1 {
        font-size: 2rem;
    }

    /* ======================================= */
    /* run section styles */
    .run-container {
        flex-direction: column;
        gap: 30px;
    }

    .run-content h1 {
        font-size: 3.5rem;
    }

    .run-content p {
        width: 100%;
        font-size: 1.2rem;

    }

    .run-btn {
        text-align: center;
    }

    .btn-run {
        width: calc(100% - 30px);
    }

    .run-img {
        text-align: center;
    }

    .run-img img {
        width: 90%;
    }

    /* ======== */
    /* BMI styles */
    .bmi{
        margin-top: 40px !important;
        margin-bottom:40px;
    }
    .bmi-content {
        width: 100%;
        
    }

    .bmi-content h1 {
        color: var(--secondary);
        font-size: 2.5rem;
        font-weight: 700;
    }

    .bmi-content p {
        color: var(--light);
        font-size: 1.1rem;
        width: 100%;
        margin-top:15px;
    }
    /* ==================== */
    /* Section BMI Calculator */
    .bmi-calc-container{
        flex-direction: column;
    }
    .calculate-container{
        margin-top: 50px;
    }
    /* team section */
    .team-container{
        grid-template-columns: 1fr;
    }
    /* footer */
    .foot-container{
        flex-direction:column;
    }
}

/*    / | \
    ///    \\\    
  ||           ||
  ||           ||
  || M-L=425px ||
  ||           ||
  ||           ||
        |*/

@media screen and (max-width: 425px) {
    .free-work {
        top: 0px;
        right: -10px;
    }
}

/*    / | \
    ///    \\\    
  ||           ||
  ||           ||
  || M-M=375px ||
  ||           ||
  ||           ||
        |*/

@media screen and (max-width: 375px) {
    .btn-primary {
        padding: 16px 20px;
    }

    .banner-content .banner-btn .btn-2 {
        padding: 16px 20px;
    }

    .wrk-out {
        height: 65px;
        width: 160px;
    }

    .free-work h1,
    .video-tuto .tuto h1 {
        font-size: 1rem;
        font-weight: 400;
    }

    .free-work p,
    .video-tuto .tuto p {
        font-size: .72rem;
    }
}

/*    / | \
    ///    \\\    
  ||           ||
  ||           ||
  || M-S=320px ||
  ||           ||
  ||           ||
        |*/
@media screen and (max-width:320px) {
    .btn-primary {
        font-size: .7rem;
        padding: 0px 10px;
        border-radius: 50px;
    }

    .banner-content h1 {
        font-size: 2.6rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    /* habits styles */
    .habits-content h1 {
        font-size: 1.6rem;
    }
}